@import "globals.css";

body {
    background-color: var(--background-color); /* Verde scuro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

#main-container {
    background-color: var(--light-red); /* Rosso scuro */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: var(--border-color);
    border: 2px solid var(--border-color);

    width: clamp(500px, 50%, 700px);
    height: clamp(312px, 50%, 600px);

    display: flex;
    position: relative;

    justify-content: space-between;

    gap: 20px;
}

#user {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    flex: 1;
}

#container-acc {
    background-color: var(--dark-red);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: var(--border-color);
    border: 2px solid var(--border-color);
    position: absolute;
    top: -25px;
    left: 10px;
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container-back button {
    background-color: var(--dark-red); /* Rosso scuro */
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: var(--border-color);
    border: 2px solid var(--border-color);
    position: absolute;
    top: -25px;
    left: clamp(0px, calc(100% - 25px), 670px);
    width: 50px;
    height: 50px;
    font-weight: bold;
    font-size:1.2rem;
}

#container-back button:hover {
    background-color: var(--border-color); /* Rosso scuro */
    color: var(--dark-red);
}

#profile-pic-container {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    border: 3px solid var(--border-color);
    overflow: hidden;
}

#userPic {
    height: 75px;
    width: 75px;
    transform: translate(-5px, -5px);
}

#user-id{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 30px;
    width: 140px;
    border-radius: 20px;
    padding: 5px;
    border: 3px solid var(--border-color);
}

#user-id > p {
    font-size: 1.2rem;
}

#container-statics {
    background-color: var(--light-red); /* Rosso scuro */
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;

    color: var(--border-color);
    border: 2px solid var(--border-color);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    flex: 3;
}

#container-statics span {
    font-size: 1.5rem;
}

.container {
    background-color: var(--dark-red); /* Rosso scuro */
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 15px;
}

.pair {
    display: flex;
    justify-content: space-evenly;

    width: 100%;
}

button {
    cursor: pointer;
}

