@import "globals.css";

body {
  background-color: var(--background-color); /* Verde scuro */
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

#mazzo {
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  color: var(--border-color);
  border: 2px solid var(--border-color);

  width: clamp(100px, 30%, 200px);
  height: clamp(50px, 30%, 104px);
  rotate: 90deg;
  display: flex;
  position: absolute;
  justify-content: center;
  top: 400px;
  left: 300px;
  gap: 20px;
  overflow: hidden;
}

#briscola{
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  color: var(--border-color);
  border: 2px solid var(--border-color);

  width: clamp(100px, 30%, 200px);
  height: clamp(50px, 30%, 104px);
  display: flex;
  position: absolute;
  justify-content: center;
  top: 400px;
  left: 390px;
  gap: 20px;
  overflow: hidden;
}

#retro{
  rotate: 90deg;
  height: 200px;
  display: flex;
  position: absolute;
  top: -40px;
  border-radius: 15px;
  transform: translateX(-10px);
}

#mano1{
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  color: var(--border-color);
  border: 2px solid var(--border-color);

  width: clamp(150px, 30%, 250px);
  height: clamp(75px, 30%, 150px);
  display: flex;
  position: absolute;
  justify-content: center;
  top: 5px;
  left: 50%;
}

#mano2{
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  color: var(--border-color);
  border: 2px solid var(--border-color);

  width: clamp(150px, 30%, 350px);
  height: clamp(75px, 30%, 200px);
  display: flex;
  position: absolute;
  justify-content: center;
  bottom: 5px;
  left: 50%;
}

#logo{
  align-items: center;
  display: flex;
  position: absolute;
  top: 350px;
  left: 850px;
  opacity: 50%;

}

#logoM{
  width: 400px;
  height: 200px;
}

#pic2_container {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  border: 3px solid var(--border-color);
  overflow: hidden;
  position: absolute;
  top: 35px;
  left: 1250px;
}

#pic2 {
  height: 75px;
  width: 75px;
  transform: translate(-5px, -5px);
}

#pic1_container {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  border: 3px solid var(--border-color);
  overflow: hidden;
  position: absolute;
  bottom:35px;
  left: 850px;
}

#pic1 {
  height: 75px;
  width: 75px;
  transform: translate(-5px, -5px);
}

#punti2{
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  color: var(--border-color);
  border: 2px solid var(--border-color);

  width: clamp(100px, 30%, 200px);
  height: clamp(50px, 30%, 104px);
  rotate: 90deg;
  display: flex;
  position: absolute;
  justify-content: center;
  top: 250px;
  right: 300px;
  gap: 20px;
  overflow: hidden;
}

#punti1{
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  color: var(--border-color);
  border: 2px solid var(--border-color);

  width: clamp(100px, 30%, 200px);
  height: clamp(50px, 30%, 104px);
  rotate: 90deg;
  display: flex;
  position: absolute;
  justify-content: center;
  bottom: 250px;
  right: 300px;
  gap: 20px;
  overflow: hidden;
}

.carte{
  display: flex;
  border: 2px solid var(--border-color)
}

#carta1av, #carta2av , #carta3av{
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  color: var(--border-color);
  border: 2px solid var(--border-color);
  width: 200px;
  height:150px;
  display: flex;
  justify-content: center;
  gap: 20px;
  overflow: hidden;

}


#carta1, #carta2 , #carta3{
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  color: var(--border-color);
  border: 2px solid var(--border-color);
  width: 200px;
  height:200px;
  display: flex;
  justify-content: center;
  gap: 20px;
  overflow: hidden;
}

#container-back {
  background-color: var(--dark-red); /* Rosso scuro */
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  color: var(--border-color);
  border: 2px solid var(--border-color);
  position: absolute;
  top: 20px;
  right: 40px;
  width: 70px;
  height: 50px;
  font-weight: bold;
  font-size:1.2rem;
}

#container-back:hover{
  background-color: var(--border-color); /* Rosso scuro */
  color: var(--dark-red);
}
