:root {
    --background-color: #043920;
    --light-red: #8b0101;
    --dark-red: #520000;
    --border-color: #c28c46;
    --transparent: rgba(0, 0, 0, 0);
}

*{
    /*border: 1px solid black;*/
    box-sizing: border-box;

    font-family: "Arial", sans-serif;
}

body{
    margin: 0;
    height: 100vh;
}

button {
    cursor: pointer;
}

.hide {
    display: none !important;
}

#new-game{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    background-color:  var(--background-color);
    flex: 1;
    height: 100%;
    margin: 0;
}

/*parte info utente*/
#left{
    width: 40%;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#profile-pic-container {
    height: 150px;
    width: 150px;

    border-radius: 50%;
    border: 5px solid var(--border-color);

    overflow: hidden;
}

#userPic {
    height: 150px;
    width: 150px;

    transform: translate(-5px, -5px);
}

#user-id{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
    width: 200px;
    border-radius: 20px;
    padding: 5px;
    border: 3px solid var(--border-color);
}

#user-id > p {
    font-size: 1.6rem;
}

#user-id-label {
    width: 100%;
    height: 100%;

    text-align: center;
    align-content: center;

    font-size: 1.6rem;

    font-weight: bold;
}

#right{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#back{
    align-self: flex-end;
}

#back button {
    display: block;

    background-color: var(--light-red);
    color: var(--border-color);
    border: 2px solid var(--border-color);

    height: 50px;
    width: 100px;

    font-size: 1.2rem;

    cursor: pointer;
    border-radius: 30px;
}

#back button:hover{
    background-color: var(--dark-red);
}

#friend-box {
    background-color: var(--light-red);

    border: 3px solid var(--border-color);
    border-radius: 35px;

    position: relative;

    width: max(80%, 600px);
    height: 70%;

    display: flex;
    flex-direction: column;
    justify-content: end;
}

.header {
    height: 100px;
    width: calc(100% + 6px);

    border: 0;
    border-radius: 30px;
    background-color:  var(--dark-red);

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: absolute;
    top: -3px;
    left: -3px;
}

.selection-btn {
    width: 40%;
    height: 100%;

    background-color: transparent;
    border: 3px transparent;
    border-radius: 30px;

    font-size: 2.5rem;
    font-weight: bold;

    transition: width 0.3s;

    color: var(--border-color);
}

.selection-btn.selected {
    border: 3px solid var(--border-color);

    width: 60%;

    background-color: var(--light-red);
}

.section {
    height: calc(100% - 110px);

    border: none;

    padding: 0 40px;
}

.section.friends > * {
    margin-bottom: 30px;
}

.section.friends > .pair {
    display: flex;
    justify-content: space-between;

    height: 70px;
}

.section.friends > .pair > .input-group {
    flex: 3;

    margin-right: 30px;

    position: relative;
}

.section.friends > .pair > .input-group > input {
    height: 100%;
    width: 100%;

    background-color: var(--dark-red);
    border: none;
    border-radius: 30px;

    color: var(--border-color);
    font-size: 1.6rem;

    padding-left: 60px;
}

.section.friends > .pair > .input-group > input:focus {
    outline: none;
    border: 2px solid var(--border-color);
}

.section.friends > .pair > .input-group > label {
    position: absolute;

    height: 20px;

    font-weight: bold;
    color: var(--border-color);

    bottom: -22px;
    left: 30%;
}

.section.friends > .pair > .input-group > #search-logo {
    height: 50px;
    width: 50px;

    position: absolute;

    top: 10px;
    left: 7px;
}

.section.friends > .pair > #add-friend {
    flex: 1;

    background-color: var(--dark-red);
    color: var(--border-color);

    border-radius: 30px;
    border: 2px solid var(--transparent);

    font-size: 1.8rem;
    font-weight: bold;
}

.section.friends > .pair > #add-friend:hover {
    border-color: var(--border-color);
}

.section.friends > #friends-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 73%;

    background-color: var(--dark-red);
    border-radius: 30px;


    overflow-y: auto;
    overflow-x: hidden;

    padding: 0 20px;
}

.section.friends > #friends-container > .container-like {
    width: 100%;
}

.section.friends > #friends-container > .container-like.friend-requests {
    border-bottom: 3px solid var(--border-color);
}

.section.friends > #friends-container .user {
    width: 100%;
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 20px 0;
    padding-right: 30px;
}

.section.friends > #friends-container .user > .profile-picture-container {
    min-width: 60px;
    height: 60px;
    width: 60px;

    border: 3px solid var(--border-color);
    border-radius: 50%;

    overflow: hidden;
}

.section.friends > #friends-container .user > .profile-picture-container > img {
    height: inherit;
    width: inherit;

    transform: translate(-3px, -3px);
}

.section.friends > #friends-container .user > .username {
    font-size: 2rem;
    font-weight: bold;

    color: var(--border-color);
}

.section.friends > #friends-container .user > .friend-btn-pair {
    display: flex;
    height: 90%;
    flex-wrap: nowrap;
}

.section.friends > #friends-container .user button {
    height: 100%;

    padding: 20px;

    margin-left: 20px;

    color: var(--dark-red);
    font-size: 1.3rem;
    font-weight: bold;

    background-color: var(--border-color);
    border: 2px solid var(--border-color);
    border-radius: 30px;
}

.section.friends > #friends-container .user button img {
    height: 50px;
    width: 50px;

    transform: translate(0px, -10px);
}

.section.friends > #friends-container .user button:hover {
    background-color: var(--dark-red);
    color: var(--border-color);
}

.section.rooms > #main-screen {
    display: flex;
    align-items: center;

    gap: 60px;

    height: 100%;
}

.section.rooms > #main-screen > button {
    flex: 1;

    height: 80%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--dark-red);
    border: 3px solid var(--border-color);
    border-radius: 30px;

    color: var(--border-color);
    font-size: 3rem;
}

.section.rooms > #create-room-section,
.section.rooms > #join-room-section {
    padding: 30px 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 100%;

    position: relative;
}

.section.rooms > #create-room-section > .input-group {
    width: 100%;
}

.section.rooms > #create-room-section > #room-name-group {
    width: 100%;
    height: 70px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section.rooms > #create-room-section >  #room-name-group > label,
.section.rooms > #join-room-section > .input-group > label {
    color: var(--border-color);

    font-size: 2rem;

    padding-right: 60px;
}

.section.rooms > #create-room-section >  #room-name-group > input,
.section.rooms > #join-room-section > .input-group > input {
    height: 100%;
    flex: 3;

    background-color: var(--dark-red);
    border: none;
    border-radius: 30px;

    color: var(--border-color);
    font-size: 1.6rem;

    padding-left: 20px;
}

.section.rooms > #create-room-section >  #room-name-group > input:focus,
.section.rooms > #join-room-section > .input-group > input:focus {
    outline: none;
    border: 2px solid var(--border-color);
}

.section.rooms > #create-room-section > #room-visibility-group > h1 {
    color: var(--border-color);
    font-size: 2.5rem;
    text-align: center;
}

.section.rooms > #create-room-section > #room-visibility-group > #visibility-list {
    display: flex;
    justify-content: space-evenly;

    padding: 0;

    width: 100%;
}

.section.rooms > #create-room-section > #room-visibility-group .checklist-button-like {
    background-color: var(--dark-red);
    width: 150px;
    height: 60px;

    padding: 10px;
    border-radius: 30px;
    border: 3px solid transparent;

    color: var(--border-color);
    font-size: 1.3rem;
}

.section.rooms > #create-room-section > #room-visibility-group .checklist-button-like.active {
    border: 3px solid var(--border-color);
}

.section.rooms > #create-room-section > .pair > button,
.section.rooms > #join-room-section > button {
    background-color: var(--dark-red);
    width: 150px;
    height: 60px;

    padding: 10px;
    border-radius: 30px;
    border: 3px solid var(--border-color);

    color: var(--border-color);
    font-size: 1.3rem;

    margin: 10px;
}

.section.rooms > #join-room-section > .input-group  {
    width: 100%;
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section.rooms > #join-room-section > .input-group > button {
    flex: 1;

    height: 100%;

    margin-left: 20px;

    background-color: var(--dark-red);
    color: var(--border-color);

    border-radius: 30px;
    border: 2px solid var(--transparent);

    font-size: 1.8rem;
    font-weight: bold;
}

.section.rooms > #join-room-section > .input-group > button:hover {
    border: 2px solid var(--border-color);
}

.section.rooms > #join-room-section > #room-container {
    width: 85%;
    height: 100%;

    max-height: 300px;

    display: flex;
    flex-wrap: wrap;

    /*padding: 10px 60px 10px 10px;*/

    overflow-y: auto;
    overflow-x: hidden;
}

.section.rooms > #join-room-section > #room-container > .room {
    height: 100px;
    width: 200px;

    background-color: var(--dark-red);
    border: 3px solid var(--transparent);
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    cursor: pointer;

    margin: 10px;
}

.section.rooms > #join-room-section > #room-container > .room > .pair {
    width: 100%;

    display: flex;
    justify-content: center;

    position: relative;
}

.section.rooms > #join-room-section > #room-container > .room > .pair > .name {
    color: var(--border-color);
    font-size: 1.3rem;
}

.section.rooms > #join-room-section > #room-container > .room > .pair > .status {
    position: absolute;

    top: 5px;
    right: 7px;

    width: 15px;
    height: 15px;

    border-radius: 50%;
}

.section.rooms > #join-room-section > #room-container > .room > .pair > .status[status="join"] {
    background-color: #0d5300;
}

.section.rooms > #join-room-section > #room-container > .room > .pair > .status[status="started"] {
    background-color: gray;
}

.section.rooms > #join-room-section > #room-container > .room > .pair > .status[status="ended"] {
    background-color: #9f0000;
}

.section.rooms > #join-room-section > #room-container > .room > * {
    color: var(--border-color);
    user-select: none;
}

.section.rooms > #join-room-section > #refresh-rooms {
    position: absolute;
    top: 18%;
    right: -10px;

    height: 50px;
    width: 50px;

    background-color: var(--dark-red);
    border-radius: 50%;
    border: 3px solid var(--transparent);

    padding: 0;

    display: grid;
    align-items: center;
}

.section.rooms > #join-room-section > #refresh-rooms:hover {
    border-color: var(--border-color);
}

.section.rooms > #join-room-section > #refresh-rooms > img {
    height: 45px;
    width: 45px;
}

#notification-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    position: absolute;
    bottom: 0;
    right: 0;
}

#notification-container > .notification {
    width: 300px;
    height: 100px;

    background-color: var(--light-red);
    border: 3px solid var(--border-color);
    border-radius: 15px;

    margin: 10px;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    overflow: hidden;
}

#notification-container > .notification > .description {
    padding: 5px;

    color: var(--border-color);

    font-size: 1.1rem;
}

#notification-container > .notification > .description > .username{
    font-size: inherit;
    font-weight: bold;
}

#notification-container > .notification > .pair > button:hover {
    border-color: var(--border-color);
}

#notification-container > .notification > .pair {
    display: flex;
    justify-content: center;
}

#notification-container > .notification > .pair > button {
    width: 80px;
    height: 30px;

    background-color: var(--dark-red);
    border-radius: 15px;
    border: 2px solid var(--transparent);

    color: var(--border-color);

    margin: 0 10px;
}

#notification-container > .notification > .bar-container {
    width: 100%;
    height: 5px;

    position: relative;
}

#notification-container > .notification  > .bar-container > .bar {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background-color: var(--dark-red);

    animation: notification-timer 5s linear;
}

@keyframes notification-timer {
    0% {
        left: -100%;
    }

    100% {
        left: 0;
    }
}