:root {
    --background-color: #043920;
    --light-red: #8b0101;
    --dark-red: #520000;
    --border-color: #c28c46;
    --transparent: rgba(0, 0, 0, 0);
}

*{
    /*border: 1px solid black;*/

    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

button {
    cursor: pointer;
}

#back-btn {
    background-color: var(--dark-red);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 2px solid var(--border-color);
    border-radius: 40px;

    color: var(--border-color);
    text-align: center;
    font-weight: bold;
    font-size:1.2rem;

    position: fixed;
    top: 50px;
    right: 50px;

    width: 90px;
    height: 50px;
    text-transform: capitalize;
}

#back-btn:hover {
    background-color: var(--border-color);
    color: var(--dark-red);
}