@import "globals.css";
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');


body{
    margin: 0;
    height: 200vh;
}

div.background {
    width: 100%;
    height: 100vh;

    filter: brightness(50%);

    background-image: url("../img/background_1st_page.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: fixed;
    top: 0;
    left: 0;
}

div.place-holder {
    height: 100vh;
}

/*rendere l' immagine più scura*/
#darkerImg{
    filter: brightness(50%);
}

/*menu*/
#menu {
    flex: 2;
    display: flex;
    width: 100%;
    justify-content: center;
}

/*intera pagina del menu*/
#menu-page{
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: var(--background-color);
    transition: transform 0.5s ease-in-out;

    height: 100vh;
}

/*parte alta della pagina*/
#menu{
    padding: 0;
}

/*voci di navigazione*/
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    text-align: center;
    padding: 20px;
    margin: 5vh 5vw;
}

.menu img{
    width: 50px;
    height: auto;
    vertical-align: middle;
}

.menu > * {
    font-size: 1.5rem;
}

/*logo briscola4legenDs*/
#logo{
    height: 100px !important;
    width: auto !important;
}

/*voci di navigazione*/
a {
    text-decoration: none;
    color: var(--border-color);
    font-weight: bold;
    transition: color 0.3s ease, transform 0.2s ease;
}

a:hover{
    color: var(--dark-red);
    transform: scale(1.1);
}


/*decorazioni nella parte alta del menu*/
#decorations{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*immagine decorazione parte alta*/
#decorations img{
    width: 100%;
    height: 70%;
}

/*parte bassa del menu*/
#content{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    /*padding: 10px;*/
}

/*contenuto della parte bassa*/
.content-card{
    --prefered-height: 60vh;

    flex: 1;
    text-align: center;
    position: relative;
    display: inline-block;

    max-height: 70%;
}

/*immagine che inserisce un frame*/
.frame{
    height: var(--prefered-height);
    width: 500px;
    display: block;
}

.content-card img{
    width: 100%;
}

#title {
    height: 30%;
}

/*logo carte*/
#logoDalNegro{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;

    overflow: hidden;
}

#logoDalNegro img{
    height: 600px;
    width: auto;
}

/*tutto ciò che si trova scritto all'interno delle content-cards*/
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--prefered-height);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.overlay h1,
.overlay p,
.overlay button {
    z-index: 2;
}

.overlay .pair {
    margin-bottom: 20%;
}

.overlay p{
    color: var(--border-color);
    margin: 50px;
}

.overlay h1{
    color: var(--dark-red);
    font-size: 70px;
    font-family: "Great Vibes", serif;
}

/*pulsanti*/
button {
    background-color: var(--dark-red);
    color: var(--border-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.7);
    transition: background-color 0.3s, transform 0.3s;
}

button:hover{
    background-color: #3c0202;
    transform: scale(1.1);
}

#new-game{
    height: 80px;
    width: 200px;
    border-radius: 30px;
    font-weight: bold;
    background-color: var(--light-red);
    font-size: 1.2rem;
}
/*animazioni*/

/*il contenuto compare gradualmente quando carico la pagina*/
#menu-page {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 1s ease-out forwards;

    display: flex;
    flex-direction: column;

    overflow: hidden;
}

#content {
    flex: 2;

    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
