@import "globals.css";

body {
    background-color: var(--background-color); /* Verde scuro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    color: var(--border-color);
}

#container {
    padding: 20px;
    width: 100%;
    height: 60%;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    position: relative;
}

.user{
    background-color: var(--light-red);
    border: 5px solid var(--border-color);
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    width: clamp(0px, 20%, 400px);
    height: 90%;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.username{
    font-weight: bold;
    font-size:2rem;
}

.profile-pic-container {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 3px solid var(--border-color);
    overflow: hidden;

}

.userPic {
    height: 150px;
    width: 150px;
    transform: translate(-5px, -5px);
}

.status{
    background-color: var(--dark-red); /* Rosso scuro */
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: var(--border-color);
    border: 2px solid var(--border-color);
    width: 50px;
    height: 50px;
    font-weight: bold;
    font-size:1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.status.ready {
    background-color: #0d5300;
}

#ready{
    background-color: var(--dark-red); /* Rosso scuro */
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: var(--border-color);
    border: 2px solid var(--border-color);
    width: 100px;
    height: 50px;
    position: absolute;
    bottom: 20px;
    right: calc(50% - 50px);
    font-weight: bold;
    font-size:1.4rem;

    cursor: pointer;
}

.empty{
    opacity: 50%;
    border-style: dashed;
}

#info {
    font-size: 1.2rem;
    font-weight: bold;

    color: var(--border-color);

    position: absolute;
    top: 20px;
    left: 20px;

    display: flex;
    flex-direction: column;
}

.host:after {
    content: "Host";

    height: 40px;
    width: 80px;

    font-size: 1.3rem;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 10px;
    right: 10px;

    background-color: var(--dark-red);
    color: var(--border-color);
    border-radius: 15px;
}

.kick-btn {
    position: absolute;
    top: 10px;
    right: 10px;

    height: 40px;
    width: 40px;

    border-radius: 10px;

    background-color: var(--dark-red);
    background-image: url("../img/svg/boot-kick.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;

    border: 1px solid var(--transparent);

    cursor: pointer;
}

.kick-btn {
    border-color: var(--border-color);
}

.user:not(.empty) .team-tag {
    height: 40px;
    width: 80px;

    font-size: 1.3rem;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 10px;
    left: 10px;

    border: 0;
    color: var(--border-color);
    border-radius: 15px;
}

.possible-tag {
    height: 30px;
    width: 60px;
    border: 0;
    color: var(--border-color);
    border-radius: 15px;

    margin-bottom: 5px;
}

.user[team="0"] .team-tag,
[team="0"].possible-tag {
    background-color: #03638e;
}

.user[team="1"] .team-tag,
[team="1"].possible-tag {
    background-color: #f82a2a;
}

.team-select {
    position: absolute;
    top: 0;
    left: 0;

    padding-top: 60px;
    padding-left: 20px;
}

.team-select > div {
    display: flex;
    flex-direction: column;
}

.hide {
    display: none !important;
}