:root {
    --background-color: #043920;
    --light-red: #8b0101;
    --dark-red: #520000;
    --border-color: #c28c46;
    --transparent: rgba(0, 0, 0, 0);
}

body {
    background-color: #0B3D0B;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #c28c46;
}

.container {
    background: rgba(139, 0, 0, 0.85);
    backdrop-filter: blur(5px);
    padding: 30px 25px;
    border-radius: 20px;
    box-shadow: 20px 20px 20px rgb(1, 30, 1);
    text-align: center;
    width: 320px;
    border: 2px solid #c28c46;
}

.container h2 {
    margin: 0 0 20px;
    padding-bottom: 10px;
    font-size: 26px;
    border-bottom: 2px solid #c28c46;
}

.input-group input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 8px;
    background-color: #550000;
    color: #fffbd0;
    transition: border 0.3s ease;
    font-size: 14px;
}

.input-group label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: #FFEAA7;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #550000;
    color: #fffbd0;
    transition: border 0.3s ease;
    font-size: 14px;
}

.input-group input:focus {
    outline: none;
    border: 2px solid #c28c46;
}

.button {
    background-color: #550000;
    color: #c28c46;
    border: 2px solid #c28c46;
    padding: 12px;
    width: 100%;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
    font-size: 15px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
    background-color: #660000;
    transform: translateY(-2px);
}

.register-link {
    margin-top: 15px;
    font-size: 13px;
    color: #c28c46;
}

.register-link a {
    color: #c28c46;
    text-decoration: none;
    font-weight: bold;
    padding: 4px 6px;
    border: 1px solid #c28c46;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.register-link a:hover {
    background-color: #c28c46;
    color: #550000;
}

.msg {
    position: absolute;
    bottom: 5px;
    right: 5px;

    padding: 10px;

    border: 2px solid var(--border-color);
    border-radius: 5px;

    background-color: var(--dark-red);
    color: var(--border-color);
}

.msg::after {
    position: absolute;
    top: -10px;
    right: -5px;

    text-align: center;

    font-weight: bold;

    width: 20px;
    height: 20px;
    border-radius: 50%;

    color: var(--border-color);
    border: 1px solid var(--border-color);
}

.msg.error::after {
    content: '!';

    background-color: #9f0000;
}

.msg.info::after {
    content: 'i';

    background-color: #0d5300;
}