@import "globals.css";

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background-color); /* Verde scuro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

#container {
    background-color: var(--light-red);

    width: clamp(450px, 70%, 600px);
    height: 70%;

    border: 3px solid var(--border-color);
    border-radius: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    padding-top: 40px;
}

#text{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
    width: 200px;
    border-radius: 20px;
    padding: 20px;
    border: 3px solid var(--border-color);
    margin-bottom: 40px;
    background-color: #5A0A0A;
    color: #c28c46;
}

#punteggio {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
    width: 200px;
    border-radius: 20px;
    padding: 20px;
    border: 3px solid var(--border-color);
    margin-bottom: 40px;
    background-color: #5A0A0A;
    color: #c28c46;
}

#punteggio1,#punteggio2{
    height: 50px;
    width: 200px;
    border-radius: 20px;
    padding: 20px;
    border: 3px solid var(--border-color);
    margin-bottom: 40px;
    background-color: #5A0A0A;
    color: #c28c46;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}