@import "globals.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--background-color); /* verde scuro */
  color: var(--border-color);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings-box {
  background-color: var(--light-red); /* rosso scuro */
  border: 3px solid var(--border-color);
  border-radius: 25px;
  padding: 20px;

  display: flex;
  flex-direction: column;

  width: clamp(350px, 30%, 500px);
  height: clamp(350px, 50%, 400px);

  position: relative;
}

.settings-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--border-color);
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.settings-header h1 {
  font-size: 20px;
  margin: 0;
}

.setting {
  background-color: var(--dark-red);
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 10px;

  flex: 1;

  font-size: 1.5rem;

  position: relative;
}

.setting.audio {
  display: flex;
}
.setting.audio > h3 {
  position: absolute;
  top: 5px;
  margin: 0;
  left: clamp(100px, calc((100% - 100px) / 2), 180px);
}

input[type="range"] {
  flex: 1;
  accent-color: var(--border-color);
}

.icon {
  height: 40px;
  width: 40px;

  background-color: transparent;
  border: 0;

  margin-right: 10px;
}

button {
  cursor: pointer;
}

.icon > img {
  height: inherit;
  width: inherit;
}

.credits {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pair {
  width: 100%;
  display: flex;
}

.pair a,
.pair span {
  display: block;

  text-align: center;
  text-decoration: none;
  color: var(--border-color);

  width: 100%;
}

.a-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

#title {
  position: absolute;
  top: -30px;
  left: clamp(45px, calc((100% - 250px) / 2 ), 125px);

  width: 250px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--dark-red);
  border: 3px solid var(--border-color);
  border-radius: 30px;
}