:root {
  --light-yellow: #d6bd40;
}

* {
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #004225; /* verde scuro */
    color: var(--light-yellow);
  }
  
.container {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
  
.settings-box {
  background-color: #8B0000;
  border: 3px solid #c28c46;
  padding: 30px;
  width: 400px;
  border-radius: 20px;
  color: #FDEAA8;
  box-shadow: 20px 20px 20px rgb(1, 30, 1);
}

.settings-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
  
.settings-header h1 {
  font-size: 28px;
  text-align: center;
  margin: 0 auto;
}
  
#close-btn {
  position: absolute;
  right: 0;
  background-color: #5A0A0A;
  color: #c28c46;
  border: 2px solid #c28c46;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

#close-btn:hover {
  transform: scale(1.2);
  color: #5A0A0A;
  background-color: #c28c46;
  border: 2px solid #5A0A0A;
}

.setting {
  margin-top: 30px;
  background-color: #5A0A0A;
  padding: 20px;
  border-radius: 15px;
}

.setting-audio{
  display: flex;
  align-items: center;
  gap: 20px; /* spazio tra icona e slider */
  background-color: #5A0A0A;
  padding: 20px;
  border-radius: 15px;
}

input[type="range"] {
  width: 100%;
  accent-color: #c28c46;
}
  
.icon {
  height: 40px;
  width: 40px;

  background-color: transparent;
  border: 0;

  margin-right: 10px;
}

button {
  cursor: pointer;
}

.icon > img {
  height: inherit;
  width: inherit;
}

.credits {
  margin-top: 30px;
  background-color: #5A0A0A;
  padding: 20px;
  border-radius: 15px;
}

.pair {
  width: 100%;
  display: flex;
  align-items: center; /* centra verticalmente */
  gap: 10px; /* spazio tra icona e testo */
}

.pair a,
  .pair span {
  display: block;

  text-decoration: none;
  color: #c28c46;
  font-weight: bold;
  transition: color 0.3s ease, text-shadow 0.3s ease;

  width: 100%;
}

.pair:not(:last-child) {
  margin-bottom: 15px;
}

.a-container {
  display: flex;
  width: 100%;
}

a:hover {
  color: #d00e0e;
  text-shadow: 0 0 5px #d00e0e;
}

.title{
  color: #c28c46;
}