<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Briscola4legenDs - Account</title>
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">

    <link rel="stylesheet" href="/css/account.css">
    <script src="/js/account.js" type="module" defer></script>
</head>
<body>
    <div id="main-container">
        <div id="container-acc">
            <h2>ACCOUNT</h2>
        </div>

        <div id="user">
            <div class="img-container" id="profile-pic-container">
                <img id="userPic" src="/img/profilePictures/blankProfilePicture.png" alt="Profile picture">
            </div>
            <h1 id="username"></h1>
            <div id="user-id">
                <p id="p_id">ID</p>
                <span id="user-id-label"></span>
            </div>
        </div>
        <div id="container-statics">
            <h2>STATISTICS:</h2>
            <div class="container" id="container-match">
                <span>Matches: <span id="match-number"></span></span>
            </div>
            <div class="pair">
                <div class="container" id="container-win">
                    <span>win: <span id="win-number"></span></span>
                </div>
                <div class="container" id="container-lose">
                    <span>lose: <span id="lose-number"></span></span>
                </div>
            </div>
            <div class="container" id="container-max-points">
                <span>max points: <span id="max-points-number"></span></span>
            </div>
            <div class="container" id="container-avg-points">
                <span>avg points: <span id="avg-points-number"></span></span>
            </div>
        </div>
        <div id="container-back">
            <button>X</button>
        </div>
</div>


</body>
</html>