<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>campo</title>
  <link rel="stylesheet" href="css/campo1.css">
</head>
<body>

  <div id="logo">
    <img src="img/DalManfro.png" id="logoM">
  </div>

  <!-- mazzo  -->
  <div id="briscola">
    <p>briscola</p>
  </div>
  <div id="mazzo">
    <div id="retro">
      <img src="img/CarteBriscola/retro/Retro2.JPG">
    </div>
  </div>

  <!-- giocatore avversario -->
  <div id="mano1">
      <div id="carta1av">
        <p>carta1</p>
      </div>
      <div id="carta2av">
        <p>carta2</p>
      </div>
      <div id="carta3av">
        <p>carta3</p>
      </div>
  </div>
  <div id="pic2_container">
    <img id="pic2" src="img/blankProfilePicture.png">
  </div>
  <div id="punti2">
    <p>prese</p>
  </div>

  <!-- giocatore 1 -->
  <div id="mano2">
    <div id="carta1">
      <p>carta1</p>
    </div>
    <div id="carta2">
      <p>carta2</p>
    </div>
    <div id="carta3">
      <p>carta3</p>
    </div>
  </div>
  <div id="pic1_container">
    <img id="pic1" src="img/blankProfilePicture.png">
  </div>
  <div id="punti1">
    <p>prese</p>
  </div>

  <script src="js/campo1.js"></script>

  <button id="container-back">leave</button>
</body>

</html>
