<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leaderboard Page</title>
  <link rel="stylesheet" href="/css/classifica.css">
  <script src="/js/classifica.js" type="module" defer></script>
</head>
<body>

<div class="container">
  <div id="container-leader">
    <h2>LEADERBOARD</h2>
  </div>

  <div id="container-p1">
    <div id="pos">
      <h1>1</h1>
    </div>
    <div>
      <h1>id</h1>
    </div>
    <div id="container-win">
      <h1>win:</h1>
    </div>
    <div class="img-container" id="profile-pic-container">
      <img id="userPic" src="/img/ProfilePictures/blankProfilePicture.png" alt="Profile picture">
    </div>
  </div>



  <div id="container-back">
    <button>X</button>
  </div>

</div>
</body>
</html>