<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Briscola4legenDs - History</title>
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">

    <link rel="stylesheet" href="/css/text_content.css">
    <script src="/js/globals.js" type="module" defer></script>
</head>
<body>
    <div id="main-container">
        <h1>History of Briscola</h1>

        <ul id="main-list">
            <li>
                <h2 class="sub-title">Origins</h2>
                <p class="content">The origins of Briscola are not entirely certain, but it is believed that the game evolved from other medieval card games.
                    A widely supported theory is that Briscola is a simplified version of a Spanish game called "Triunfo" (or "Trionfo"), which dates back to the 15th century.
                    "Triunfo" itself may have originated from an Arabic game called "Nas," which was popular among Islamic civilizations.
                    In these games, a specific suit was considered “triumphant,” similar to the Briscola suit that beats all others in the game of Briscola.
                </p>
            </li>
            <li>
                <h2 class="sub-title">Etymology</h2>
                <p class="content">The name "Briscola" appears to derive from the term "brisca" or "brisco," used in Old Spanish and other Romance languages to mean "triumph" or "victory."
                    The term was also used in the Spanish game "Triunfo" to refer to the winning suit.
                    Additionally, some scholars suggest that the name might come from the French word "brisque," which referred to the points earned in the card game Bazzica, a similar game.
                </p>
            </li>
            <li>
                <h2 class="sub-title">Spread</h2>
                <p class="content">Briscola likely arrived in Italy in the 16th century and quickly became very popular, especially in the south of the country, spreading rapidly throughout Italy.
                    By the 17th century, the game was already widely known, although with varying rules from region to region.
                    Over time, the rules became standardized, introducing a 40-card deck divided into four suits: Cups, Coins, Swords, and Clubs, and the definition of a trump suit (Briscola) that outranks the others.</p>
            </li>
            <li>
                <h2 class="sub-title">Evolution</h2>
                <p class="content">In the 19th century, the definitive rules were established, and Briscola became one of the most widespread card games in Italy.
                    In the following years, the game developed variants, such as three- or five-player Briscola.
                    In the 20th century, Briscola remained highly popular, especially among the elderly, who would gather for long games.
                    Today, Briscola is still widely played, both in its traditional form and online. It’s a game that, besides being fun, encourages socialization and strengthens bonds between players.</p>
            </li>
        </ul>
    </div>

    <button id="back-btn">back</button>
</body>
</html>