<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <button id="createRoom">Create room</button>
    <button id="joinRoomBtn">Join room</button>
    <input type="number" id="joinRoomInp">
    <button id="ready">Ready</button>

    <div id="container">

    </div>

    <script type="module" src="/v2script.js"></script>
</body>
</html>