<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Briscola4legenDs - Menu</title>
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">

    <link rel="stylesheet" href="/css/home.css">
</head>
<body>

<div class="background">
</div>

<div class="place-holder"></div>

<div id="menu-page">
    <div id="header">
        <div class="header">
            <img id="logo" src="/img/logo.png" alt="logo">
            <a th:href="@{/account}">ACCOUNT</a>
            <a th:href="@{/leaderboard}"><img src="/img/podiumIcon.png" alt="podium"></a>
        </div>
        <img id="logo-for-responsiveness" src="/img/logo.png" alt="logo">
        <div id="decorations">
            <img src="/img/menuDecorations1.png" alt="">
        </div>
        <div id="menu">
            <button id="menu-btn-open"></button>
            <div id="menu-container" class="close">
                <div id="menu-dark-bg" class="dark-bg"></div>
                <div id="menu-content" class="content">
                    <section>
                        <a th:href="@{/account}">Account</a>
                        <a th:href="@{/leaderboard}">Leaderboard</a>
                    </section>
                    <section>
                        <a th:href="@{/history}">History</a>
                        <a th:href="@{/rules}">Rules</a>
                    </section>
                    <section>
                        <a href="">Simulation</a>
                        <a th:href="@{/FAQ}">FAQ</a>
                        <a th:href="@{/settings}">Settings</a>
                    </section>
                    <button id="menu-btn-close">X</button>
                </div>
            </div>
        </div>
        <div class="header">
            <a href="">SIMULATION</a>
            <a th:href="@{/FAQ}">FAQ</a>
            <a th:href="@{/settings}"><img src="/img/settingsIcon.png" alt="settings"></a>
        </div>
    </div>

    <div id="content">
        <div class="content-card content-frame">
            <img class="frame" src="/img/frame.png" alt="frame">
            <div class="overlay">
                <h1>History</h1>
                <div class="pair">
                    <p>Questo è un paragrafo</p>
                    <a th:href="@{/history}"><button>Show more</button></a>
                </div>
            </div>
        </div>
        <div class="content-card">
            <img id="title" src="/img/title.png" alt="title">
            <div id="logoDalNegro">
                <img src="/img/DalManfro.png" alt="logo Dal Negro">
            </div>
            <a th:href="@{/startGame}">
                <button id="new-game">START NEW <br> GAME</button>
            </a>
        </div>
        <div class="content-card content-frame">
            <img class="frame" src="/img/frame.png" alt="frame">
            <div class="overlay">
                <h1>Rules</h1>
                <div class="pair">
                    <p>Questo è un paragrafo</p>
                    <a th:href="@{/rules}"><button>Show more</button></a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const menu = {
        btn_open: document.getElementById("menu-btn-open"),
        btn_close: document.getElementById("menu-btn-close"),
        dark: document.getElementById("menu-dark-bg"),
        content: document.getElementById("menu-content"),
    }

    function toggleMenu() {
        menu.content.parentElement.classList.toggle("close")
    }

    menu.btn_open.addEventListener("click", toggleMenu)
    menu.btn_close.addEventListener("click", toggleMenu)
    menu.dark.addEventListener("click", toggleMenu)
</script>
</body>
</html>