<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Briscola4legenDs - Leaderboard</title>
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">

    <link rel="stylesheet" href="/css/leaderboard.css">
    <script src="/js/leaderboard.js" type="module" defer></script>
    <script src="/js/globals.js" type="module" defer></script>
</head>
<body>
<div id="container">
    <h1 id="title">LEADERBOARD</h1>

    <div id="user-container"></div>
</div>

<button id="back-btn">back</button>
</body>
</html>