<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Briscola4legenDs - Leaderboard</title>
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">

    <link rel="stylesheet" href="/css/leaderboard.css">
    <script src="/js/leaderboard.js" type="module" defer></script>
</head>
<body>
<div id="container">
    <h1 id="title">LEADERBOARD</h1>

    <div id="user-container">
        <div class="user" id="first">
            <span class="position">1</span>
            <div class="profile-picture-container">
                <img src="/img/profilePictures/blankProfilePicture.png" alt="Profile pic">
            </div>
            <span class="username">Username</span>
            <span class="win-count-label">win:<span class="win-count"></span>1000</span>
        </div>
        <div class="user" id="second">
            <span class="position">2</span>
            <div class="profile-picture-container">
                <img src="/img/profilePictures/blankProfilePicture.png" alt="Profile pic">
            </div>
            <span class="username">Username</span>
            <span class="win-count-label">win:<span class="win-count"></span>1000</span>
        </div>
        <div class="user" id="third">
            <span class="position">3</span>
            <div class="profile-picture-container">
                <img src="/img/profilePictures/blankProfilePicture.png" alt="Profile pic">
            </div>
            <span class="username">Username</span>
            <span class="win-count-label">win:<span class="win-count"></span>1000</span>
        </div>
        <div class="user">
            <span class="position">4</span>
            <div class="profile-picture-container">
                <img src="/img/profilePictures/blankProfilePicture.png" alt="Profile pic">
            </div>
            <span class="username">Username</span>
            <span class="win-count-label">win:<span class="win-count"></span>1000</span>
        </div>
    </div>
</div>

<button id="back">back</button>
</body>
</html>