<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leaderboard Page</title>
    <link rel="stylesheet" href="/css/leaderboard.css">
    <script src="/js/leaderboard.js" type="module" defer></script>
</head>
<body>

<div class="container">
    <h1 id="title">LEADERBOARD</h1>

    <div id="container">
        <div class="user" id="first">
            <span class="position">1</span>
            <div class="profile-picture-container">
                <img src="/img/profilePictures/blankProfilePicture.png" alt="Profile pic">
            </div>
            <span class="username">Username</span>
            <span class="win-count">win:<span class="win-count"></span>1000</span>
        </div>
    </div>

    <div id="container-back">
      <button>X</button>
    </div>

</div>
</body>
</html>