<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lobby</title>
    <link rel="stylesheet" href="/css/lobby.css">
    <script src="/js/lobby.js" type="module" defer></script>
</head>
<body>
    <div id="info">

    </div>

    <div id="container">
        <div class="user" id="myself"></div>

        <div class="user empty">
            <span class="username">Empty</span>
        </div>

        <div class="user empty">
            <span class="username">Empty</span>
        </div>

        <div class="user empty">
            <span class="username">Empty</span>
        </div>
    </div>

    <button id="ready">Ready</button>
    <button id="container-back">back</button>
</body>
</html>