<!DOCTYPE html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/login.css">
    <script src="/js/login.js" type="module" defer></script>
</head>

<body>

    <div class="container">
        <h2>LOGIN</h2>
        <form th:action="@{/login}" method="POST" id="login">
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>

            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>

            <button type="submit" class="button">Log in</button>
        </form>

        <div class="register-link">
            <p>You don't have an account? <a th:href="@{/register}">Sign Up</a></p>
        </div>

    </div>

    <div th:if="${param.error}" class="msg error">
        Invalid username and password.
    </div>

    <div th:if="${param.logout}" id="logout-msg" class="msg info">
        You have been logged out.
    </div>

</body>
</html>