<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Briscola4legenDs - Room</title>
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">

    <link rel="stylesheet" href="/css/room.css">
    <script src="/js/room.js" type="module" defer></script>
    <script src="/js/globals.js" defer></script>
</head>
<body>
    <div id="game-container">
        <div id="board"></div>
    </div>

    <button id="back-btn">leave</button>
</body>

</html>
