<!DOCTYPE html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Impostazioni</title>
  <link rel="stylesheet" href="/css/settings.css">
</head>
<body>
  <div class="container">
    <div class="settings-box">
      <div class="settings-header">
        <h1>IMPOSTAZIONI</h1>
        <button class="close-btn" onclick="vaiIndietro()">X</button>
      </div>

      <div class="setting audio">
        <div class="icon">🔊</div>
        <div>
          <div>Audio</div>
          <div>Effetti</div>
        </div>
      </div>

      <div class="setting stile">
        <div>stile</div>
      </div>

      <div class="setting credits">
        <div class="icon">📷</div>
        <div>
            <a href="">@briscola4legends</a>
        </div>
        <div class="icon">🎓</div>
        <div>Enrico Mattei, Urbino</div>
      </div>
    </div>
  </div>
  <script src="/js/settings.js"></script>
</body>
</html>
