<!DOCTYPE html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Impostazioni</title>
  <link rel="stylesheet" href="/css/settings.css">
  <script src="/js/settings.js" type="module" defer></script>
</head>
<body>
  <div class="container">
    <div class="settings-box">
      <div class="settings-header">
        <h1 id="title">SETTINGS</h1>
        <button id="close-btn">X</button>
      </div>

      <div class="setting audio">
        <button class="icon" id="audio-btn">
          <img src="/img/svg/audio-on-logo.svg" alt="Audio logo" id="audio-logo">
        </button>
        <div>
          <input type="range" id="volumeRange" min="0" max="100" value="50" />
        </div>
      </div>

      <div class="setting credits">
        <div class="pair">
          <div class="icon">
           <img src="/img/svg/instagram-logo.svg" alt="Instagram logo">
          </div>
          <div class="a-container">
            <a href="https://www.instagram.com/briscola4legends/" target="_blank">@briscola4legends</a>
          </div>
        </div>
        <div class="pair">
          <div class="icon">
            <img src="/img/svg/education-logo.svg" alt="Education logo">
          </div>
          <div class="a-container">
            <a href="https://www.itisurbino.edu.it/" target="_blank">ITIS Erico Mattei, Urbino</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
