<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Briscola4legenDs - Start a new game</title>
        <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">

        <link rel="stylesheet" href="/css/friendsMenu.css">
        <script src="/js/startGame.js" type="module" defer></script>
    </head>
    <body>
        <div id="new-game">
            <div id="left">
                <img src="/img/decoration2.png" alt="Decorative image">
                <div class="img-container" id="profile-pic-container">
                    <img id="userPic" src="/img/profilePictures/blankProfilePicture.png" alt="Profile picture">
                </div>
                <h1 id="username"></h1>
                <div id="user-id">
                    <p id="p_id">ID</p>
                    <span id="user-id-label"></span>
                </div>
                <img src="/img/decoration2.png" alt="Decorative image">
            </div>
            
            <div id="right">    
                <div id="back">
                    <button>back</button>
                </div>
                <div id="friend-box">
                    <div class="header">
                        <button class="selection-btn friends selected" id="friends-selector">Friends</button>
                        <button class="selection-btn rooms" id="rooms-selector">Rooms</button>
                    </div>
                    <div class="section friends" id="friends-section">
                        <div class="pair">
                            <div class="input-group">
                                <img src="/img/svg/search-logo.svg" alt="Search img" id="search-logo">
                                <label for="friend-name-inp" class="info" id="friend-info-label"></label>
                                <input type="text"  id="friend-name-inp" name="friend-name-inp">
                            </div>
                            <button id="add-friend">Add</button>
                        </div>

                        <div id="friends-container"></div>
                    </div>
                    <div class="section rooms hide" id="rooms-container">
                        <div id="main-screen" >
                            <button class="change-section-btn" id="create-room-btn" correlated-section="create-room-section">Create</button>
                            <button class="change-section-btn" id="join-room-btn" correlated-section="join-room-section">Join</button>
                        </div>
                        <div id="create-room-section" class="hide">
                            <div class="input-group" id="room-name-group">
                                <label for="room-name-inp">Name</label>
                                <input type="text" id="room-name-inp" name="room-name">
                            </div>
                            <div class="input-group" id="room-visibility-group">
                                <h1>Visibility</h1>
                                <div id="visibility-list">
                                    <button class="checklist-button-like active">Public</button>
                                    <button class="checklist-button-like">Private</button>
                                </div>
                            </div>
                            <div class="hide">
                                <input type="radio" name="visibility" class="correlated-check-btn" value="PUBLIC" checked>
                                <input type="radio" name="visibility" class="correlated-check-btn" value="PRIVATE">
                            </div>

                            <div class="pair">
                                <button class="back-to-main" correlated-section="create-room-section">Back</button>
                                <button id="create-room">Create</button>
                            </div>
                        </div>
                        <div id="join-room-section" class="hide">
                            <div class="input-group">
                                <label for="join-room-inp">Join by id</label>
                                <input type="text" id="join-room-inp" name="join-room-inp">
                                <button id="join-room">Join</button>
                            </div>
                            <button id="refresh-rooms">
                                <img src="/img/svg/refresh-logo.svg" alt="Refresh logo">
                            </button>
                            <div id="room-container"></div>
                            <button class="back-to-main" correlated-section="join-room-section">Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="notification-container">
            <div th:if="${param.kicked}" class="notification" id="kicked-notification">
                <span class="description">You have been kicked by <span class="username" th:text="${param.kicked}"></span></span>
                <div class="pair">
                    <button onclick="document.getElementById('notification-container').removeChild(document.getElementById('kicked-notification'))">Close</button>
                </div>
                <div class="bar-container">
                    <div class="bar"></div>
                </div>
                <script>
                    setTimeout(() => document.getElementById('notification-container').removeChild(document.getElementById("kicked-notification")), 10000)
                </script>
            </div>
        </div>
    </body>
</html>